<!DOCTYPE html>
<html>
<head>
  <mata charset="utf-8">
  <title>Welcome to Vue</title>
  <script src="https://unpkg.com/vue"></script>

  <style>
    hr{
      margin: 20px 0;
    }
    p{
      padding:10px; 
      background: #f3f3f3;
    }

    .set1{background-color:plum; color:'purple';}
    .set2{width:120px; text-align:center;}
    .set3{border:1px dashed sandybrown;}

    .score{border:1px solid black;}
    .warning{background-color:orange; color:purple;}
    .warnimage{position:relative; top:7px; width:24px; height:24px;}

    .boxcolor{ background-color:orange; }
    .center { width:100px; height:50px; border:1px solid gray; line-height: 50px; text-align: center;}
  </style>
</head>
<body>
  <h2>style 적용 방법1과 이벤트</h2>
  <div id="styleApply1">
    <button v-bind:style="style1" @mouseover.stop="overEvent" @mouseout.stop="outEvent">테스트</button>
  </div>
  <script>
    var styleApply1 = new Vue({
      el: '#styleApply1',
      data: {
        style1: {width:'100px', border: '1px solid purple', backgroundColor:'plum', textAlign: 'center'}
      },
      methods:{
        overEvent: function(e){
          this.style1.backgroundColor = "purple";
          this.style1.color = "yellow";
        },
        outEvent: function(e){
          this.style1.backgroundColor = "salmon";
          this.style1.color = "black";
        }
      }
    });
  </script>
  <p>카멜표기법 사용. 이벤트에서 스타일 바꿀 땐 자바스크립트의 객체 형태의 데이터에 직접 접근</p>

  <hr>

  <h2>스타일 적용 방법2</h2>
  <div id="styleApply2">
    <div :style="{backgroundColor:a.bc, border:a.bd, width:a.w+'px', height:a.h+'px'}"></div>
  </div>
  <script>
    var styleApply2 = new Vue({
      el: '#styleApply2',
      data:{
        a:{bc:'yellow', bd:'1px solid gray', w:100, h:50}
      }
    });
  </script>
  <p>코드 유지보수가 어려운 타입으로 추천하지 않는 방법</p>

  <hr>

  <h2>여러 객체 스타일 바인딩</h2>
  <div id="pluralStyle">
    <button id="btn1" v-bind:style="[myColor, myLayout]">버튼</button>
  </div>
  <script>
    var pluralCss = new Vue({
      el: '#pluralStyle',
      data:{
        myColor:{backgroundColor:'purple', color:'yellow'},
        myLayout:{width:'150px', height:'80px', textAlign:'center'}
      }
    });
  </script>

  <hr>

  <h2>CSS 클래스 값으로 바인딩</h2>
  <div id="cssValBind">
    <button id="btn1" v-bind:class="{set1:s1, set2:s2, set3:s3}">버튼1</button>
    <p>
      <input type="checkbox" v-model="s1" value="true" />set1 디자인<br />
      <input type="checkbox" v-model="s2" value="true" />set2 디자인<br />
      <input type="checkbox" v-model="s3" value="true" />set3 디자인<br />
    </p>
  </div>
  <script>
    var cssValBind = new Vue({
      el:'#cssValBind',
      data: { s1: false, s2: false, s3: false }
    });
  </script>
  <p>개별로 클래스 값을 지정하는 것은 불편하다.</p>

  <hr>

  <h2>css 클래스 객체로 바인딩</h2>
  <div id="cssObjBind">
    <button id="btn1" v-bind:class="mystyle">버튼1</button>
    <p>
      <input type="checkbox" v-model="mystyle.set1" value="true" />set1 디자인<br />
      <input type="checkbox" v-model="mystyle.set2" value="true" />set2 디자인<br />
      <input type="checkbox" v-model="mystyle.set3" value="true" />set3 디자인<br />
    </p>
  </div>
  <script>
    var cssObjBind = new Vue({
      el:'#cssObjBind',
      data: {
        mystyle: {set1:false, set2:false, set3:false}
      }
    });
  </script>
  <p>true면 css 클래스 추가, false면 클래스 제거</p>

  <hr>

  <h2>계산형 속성, 메서드로 CSS 적용</h2>
  <div id="cssComputed">
    <div>
      <p>1부터 100까지만 입력가능합니다.</p>
      <div>
        점수: <input type="text" class="score" v-model.number="score" v-bind:class="info" />
        <img src="https://cdn.pixabay.com/photo/2017/02/12/21/29/false-2061132_960_720.png" class="warnimage" v-show="info.warning" />
      </div>
    </div>
  </div>
  <script>
    var cssComputed = new Vue({
      el:'#cssComputed',
      data:{
        score: 0
      },
      computed:{
        info: function(){
          if(this.score >= 1 && this.score <= 100){
            return { warning:false };
          } else {
            return { warning:true };
          }
        }
      }
    });
  </script>

  <hr>

  <h2>컴포넌트에서 스타일</h2>
  <div id="componentStyle">
    <center-box v-bind:class="boxstyle"></center-box>
  </div>
  <script>
    Vue.component('center-box',{
      template : '<div class="center">중앙에 위치</div>'
    });
    var componentVm = new Vue({
      el:'#componentStyle',
      data: {
        boxstyle : { boxcolor:true }
      }
    });
  </script>
</body>
</html>

