<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Vue Event Handling</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <style>
      body {
        padding: 20px;
      }
      p {
        padding: 10px;
        background: #f3f3f3;
      }
      .layout1 {
        margin: 30px;
      }
      #preventDefault {
        height: 50px;
        min-height: 100%;
        padding: 5px;
      }
      .event_wrap {
        position: relative;
        height: 300px;
      }
      #outer {
        position: absolute;
        top: 50px;
        left: 20px;
        width: 200px;
        height: 200px;
        padding: 10px;
        border: 2px solid black;
        background-color: plum;
      }
      #inner {
        width: 100px;
        height: 100px;
        border: 2px solid black;
        background-color: coral;
      }
    </style>
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <h2>v-on:click / @click</h2>
    <div id="eClick" class="containter layout1">
      <input type="text" v-model="amount" class="form-control" />
      <button id="deposit" v-on:click="balance += parseInt(amount)" class="btn btn-primary">예금</button>
      <button id="withdraw" @click="balance -= parseInt(amount)" class="btn btn-primary">인출</button>
      <h3>계좌 잔고 : {{ balance }}</h3>
    </div>

    <script>
      var balanceVM = new Vue({
        el: "#eClick",
        data: {
          amount: 0,
          balance: 0
        }
      });
    </script>

    <hr />

    <h2>이벤트 핸들러 메소드</h2>
    <div id="eHandling" class="containter layout1">
      <input type="text" v-model="amount" class="form-control" />
      <button id="deposit" v-on:click="deposit" class="btn btn-primary">예금</button>
      <button id="withdraw" @click="withdraw" class="btn btn-primary">인출</button>
      <h3>계좌 잔고 : {{ balance }}</h3>
    </div>

    <script>
      var eventHandling = new Vue({
        el: "#eHandling",
        data: {
          amount: 0,
          balance: 0
        },
        methods: {
          deposit: function(e) {
            var amt = parseInt(this.amount);
            if (amt <= 0) {
              alert("0보다 큰 값을 예금해야 합니다.");
            } else {
              this.balance += amt;
            }
          },
          withdraw: function(e) {
            var amt = parseInt(this.amount);
            if (amt <= 0) {
              alert("0보다 큰 값을 인출할 수 있습니다.");
            } else if (amt > this.balance) {
              alert("잔고보다 많은 금액을 인출할 수 없습니다.");
            } else {
              this.balance -= amt;
            }
          }
        }
      });
    </script>

    <p>복잡한 기능은 methods에 함수 만들어두고 v-on으로 참조해 처리한다.</p>

    <hr />

    <h2>이벤트 객체</h2>
    <h3>이벤트 객체 주요 속성</h3>
    <pre>
예시)
function a (e) { 
  console.log(e.currentTarget);
}</pre
    >
    <p>
      target, currentTarget, path, bubbles, cancelable, defaultPrevented, eventPhase(이벤트 포착>발생>버블링), srcElement
    </p>

    <h3>키보드 이벤트 속성</h3>
    <p>altKey, shiftKey, ctrlKey, metakey, key, code, keyCode, charCode, location</p>

    <h3>마우스 이벤트 속성</h3>
    <p>button, buttons, clientX, clientY, layerX, layerY, offsetX, offsetY, pageX, pageY, screenX, screenY</p>

    <h3>이벤트 객체 주요 메소드</h3>
    <p>preventDefault(), stopPropagation()</p>

    <a href="https://vuejs.org/v2/guide/events.html#Event-Modifiers" target="_blank">공식문서 - 여러가지 속성, 메소드(Event-Modifier)</a>

    <hr />

    <h2>preventDefault</h2>
    <div id="preventDefault" v-on:contextmenu="ctxStop">
      <a href="https://facebook.com" @click="confirmFB">페이스북</a>
    </div>

    <script>
      var preventDefaultVM = new Vue({
        el: "#preventDefault",
        methods: {
          ctxStop: function(e) {
            e.preventDefault();
          },
          confirmFB: function(e) {
            if (!confirm("페이스북으로 이동할까요?")) {
              e.preventDefault();
            }
          }
        }
      });
    </script>

    <p>
      contextmenu로 preventDefault를 준 이유는 우클릭 방지<br />
      Vue는 위에 걸어둔 <a href="https://vuejs.org/v2/guide/events.html#Event-Modifiers" target="_blank">링크</a> 처럼 Event-Modifier로도 제공
    </p>

    <pre>예시) v-on:contextmenu.prevent="ctxStop"</pre>

    <hr />

    <h2>이벤트 전파/버블링 확인</h2>
    <div id="raisingBubbling" class="event_wrap">
      <div id="outer" @click="outerClick">
        <div id="inner" @click="innerClick"></div>
      </div>
    </div>

    <script>
      var rbVM = new Vue({
        el: "#raisingBubbling",
        methods: {
          outerClick: function(e) {
            console.log("### OUTER CLICK");
            console.log("Event Phase : ", e.eventPhase);
            console.log("Current Target : ", e.currentTarget);
            console.log("Target :", e.target);
          },
          innerClick: function(e) {
            console.log("### INNER CLICK");
            console.log("Event Phase : ", e.eventPhase);
            console.log("Current Target : ", e.currentTarget);
            console.log("Target :", e.target);
          }
        }
      });
    </script>

    <p>
      inner, outer 클릭하고 console.log를 보고 event phase, current target, target 비교 확인하기<br />
      이벤트 3단계: 포착(capturing) > 발생(raising) > 버블링(bubbling)
    </p>

    <hr />

    <h2>Vue 제공 방식으로 이벤트 전파 막기</h2>
    <div id="stopPropagation" class="event_wrap">
      <div id="outer" @click.stop="outerClick">
        <div id="inner" @click.stop="innerClick"></div>
      </div>
    </div>

    <script>
      var stopVM = new Vue({
        el: "#stopPropagation",
        methods: {
          outerClick: function(e) {
            console.log("### OUTER CLICK");
          },
          innerClick: function(e) {
            console.log("### INNER CLICK");
          }
        }
      });
    </script>

    <p>.stop, .capture(1단계만), .self(2단계만)</p>

    <hr />

    <h2>.once 한번만</h2>
    <div id="onceEvent">
      <input type="text" v-model="amount" class="form-control" />
      <button id="create" v-on:click.once="specialEvent" class="btn btn-primary">계좌 개설 10000원 이벤트</button>
      <button id="deposit" v-on:click="deposit" class="btn btn-primary">예금</button>
      <button id="withdraw" @click="withdraw" class="btn btn-primary">인출</button>
      <h3>계좌 잔고 : {{ balance }}</h3>
    </div>

    <script>
      var onceVM = new Vue({
        el: "#onceEvent",
        data: {
          amount: 0,
          balance: 0
        },
        methods: {
          specialEvent: function(e) {
            this.balance += 10000;
          },
          deposit: function(e) {
            var amt = parseInt(this.amount);
            if (amt <= 0) {
              alert("0보다 큰 값을 예금해야 합니다.");
            } else {
              this.balance += amt;
            }
          },
          withdraw: function(e) {
            var amt = parseInt(this.amount);
            if (amt <= 0) {
              alert("0보다 큰 값을 인출할 수 있습니다.");
            } else if (amt > this.balance) {
              alert("잔고보다 많은 금액을 인출할 수 없습니다.");
            } else {
              this.balance -= amt;
            }
          }
        }
      });
    </script>
  </body>
</html>
