<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Vue 비동기 처리, v-cloak</title>
    <style>
      p{padding:10px; background: #f3f3f3;}
      #list {width:600px; border:1px solid black; border-collapse:collapse;}
      #list td, #list th {border:1px solid black; text-align:center;}
      #list > thead > tr {color:yellow, background-color:puple;}
      [v-cloak] {display: none;}
    </style>
  </head>
  <body>
    <div id="example" v-cloak>
      <p>이름: <input type="text" v-model="name" v-on:keyup="search" placeholder="두자 이상 입력 후 엔터" /></p>
      <table id="list">
        <thead>
          <tr>
            <th>번호</th>
            <th>이름</th>
            <th>전화번호</th>
            <th>주소</th>
          </tr>
        </thead>
        <tbody id="contacts">
          <tr v-for="contact in contactlist">
            <td>{{ contact.no }}</td>
            <td>{{ contact.name }}</td>
            <td>{{ contact.tel }}</td>
            <td>{{ contact.address }}</td>
          </tr>
        </tbody>
      </table>
      <div v-show="isProcessing === true">조회중</div>
    </div>
    <p>
      이름 검색란에 jo 입력하고 엔터 쳐보기<br /><br />
      이전 동일한 예제에서 underscore의 _.debounce()로 API요청이 많이 일어나는 것을 막았지만 keyCode를 활용해 엔터로 검색하기 때문에 필요가 없음<br />
    </p>
    <p>
      Vue에서 제공되는 keyCode<br />
      .enter, .tab, .delete, .esc, .space, .up, .down, .left, .right, .ctrl, .alt, .shift, .meta<br /><br />
      ctrl + c 복사키 구현 : v-on:keyup.ctrl.67="copy"
    </p>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.1/es6-promise.auto.min.js"></script>
    <script>
      var vm = new Vue({
        el: "#example",
        data: {
          name: "",
          isProcessing: false,
          contactlist: []
        },
        methods: {
          search: function(e) {
            if (e.keyCode === 13) {
              var val = e.target.value;
              if (val.length >= 2) {
                this.fetchContacts();
              } else {
                this.contactlist = [];
              }
            }
          },
          fetchContacts: function() {
            this.contactlist = [];
            this.isProcessing = true;
            var url = "http://sample.bmaster.kro.kr/contacts_long/search/" + this.name;
            var vm = this;
            fetch(url)
              .then(function(response) {
                return response.json();
              })
              .then(function(json) {
                vm.contactlist = json;
                vm.isProcessing = false;
              })
              .catch(function(ex) {
                console.log("parsing failed", ex);
                vm.contactlist = [];
                vm.isProcessing = false;
              });
          }
        }
      });
    </script>
  </body>
</html>
