<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Welcome to Vue</title>
  <script src="https://unpkg.com/vue"></script>
  <style>
    hr {
      margin: 20px 0;
    }
    p{
      padding:10px; 
      background: #f3f3f3;
    }
    table{
      border-collapse: collapse;
      border:1px solid #ccc;
    }
    tr{
      border-bottom:1px solid #ccc;
    }
    th, td {
      padding:5px 8px;
      border-right:1px solid #ccc;
      text-align: center;
    }
    .divider{
      height:2px;
      background-color:gray;
    }
    .divider td{
      padding:0;
    }
  </style>
</head>

<body>
  <div id="mustache">
    <h2>{{message}}</h2>
  </div>

  <script>
    var model1 = {
      message: '콧수염 표현식 입니다.'
    };
    var mustache = new Vue({
      el: '#mustache',
      data: model1
    });
  </script>

  <hr>

  <div id="vText">
    <h2 v-text="message"></h2>
  </div>

  <script>
    var model2 = {
      message: 'v-text 표현식 입니다.'
    }
    var vText = new Vue({
      el: '#vText',
      data: model2
    });
  </script>
  <p>v-html은 XSS(Cross Site Scripting)에 취약해서 최대한 v-text로 표현 추천</p>

  <hr>

  <h2>단방향</h2>
  <div id="vBind">
    <input id="a" type="text" v-bind:value="message">
    <br />
    <img v-bind:src="imagePath" />
  </div>

  <script>
    var model3 = {
      message: 'v-bind 디렉티브',
      imagePath: 'http://sample.bmaster.kro.kr/photos/61.jpg'
    };
    var vBind = new Vue({
      el: '#vBind',
      data: model3
    });
  </script>
  <p>input에 입력 후 모델 객체 속성 확인 해보기</p>

  <hr>

  <h2>양방향</h2>
  <div id="vModel">
    <input type="text" v-model="name" placeholder="이름을 입력하세요">
    <br /> 입력된 이름 :
    <h2 v-text="name"></h2>
  </div>

  <script>
    var twoway = new Vue({
      el: '#vModel',
      data: {
        name: ''
      }
    });
  </script>
  <p>input에 입력 후 모델 객체 속성 확인 해보기</p>

  <hr>

  <h2>다중 선택 입력 필드 : checkbox, option</h2>
  <div id="modelCheck">
    <div>좋아하는 과일을 모두 골라주세요 : </div>
    <input type="checkbox" value="1" v-model="fruits">사과,
    <input type="checkbox" value="2" v-model="fruits">키위,
    <input type="checkbox" value="3" v-model="fruits">포도
  </div>
  <div id="modelCheckPickUp">
    선택한 과일들 : <span v-html="fruits"></span>
  </div>

  <script>
    var model4 = {
      fruits: []
    };
    var modelCheck = new Vue({
      el: '#modelCheck',
      data: model4
    });
    var modelCheckPickUp = new Vue({
      el: '#modelCheckPickUp',
      data: model4
    });
  </script>

  <hr>

  <h2>v-show, v-if</h2>
  <div id="account1">
    예금액: <input type="text" v-model="amount" />
    <img v-if="amount < 0" 
      src="https://cdn.pixabay.com/photo/2019/04/02/09/37/cat-4097325_960_720.jpg" 
      title="마이너스는 허용하지 않습니다." 
      style="width:40px; height:30px; vertical-align: middle" />
  </div>
  
  <script>
    var vIf = new Vue({
      el: '#account1',
      data: {
        amount: 0
      }
    });
  </script>
  <p>
    v-show : 랜더링 후 display로 결정. 자주 화면이 변경 되면 추천<br />
    v-if : false면 랜더링 안함
  </p>

  <hr>

  <h2>v-if, v-else, v-else-if</h2>
  <div id="account2">
    잔고 : <input type="text" v-model="balance" />
    <br /> 회원님의 등급 :
    <span v-if="balance >= 1000000">Gold</span>
    <span v-else-if="balance >= 500000">Silver</span>
    <span v-else-if="balance >= 200000">Bronze</span>
    <span v-else>Basic</span>
  </div>

  <script>
    var elseIf = new Vue({
      el: '#account2',
      data: {
        balance: 0
      }
    });
  </script>

  <hr>

  <h2>v-for</h2>
  <div id="vFor">
    <select id="regions">
      <option disabled="disabled" selected>지역을 선택하세요.</option>
      <option v-for="(val, key, index) in regions" v-bind:value="key">{{index+1}} : {{val}}</option>
    </select>
  </div>

  <script>
    var regions = {
      "A": "Asia",
      "B": "America",
      "C": "Europe",
      "D": "Africa",
      "E": "Oceania"
    };
    var selection = new Vue({
      el: '#vFor',
      data: {
        regions: regions
      }
    });
  </script>

  <hr>

  <h2>v-for, template</h2>
  <div id="forExmaple">
    <table id="list">
      <thead>
        <tr>
          <th>번호</th>
          <th>이름</th>
          <th>전화번호</th>
          <th>주소</th>
        </tr>
      </thead>
      <tbody id="contacts">
        <template v-for="(contact, index) in contacts">
          <tr :key="contact.no">
            <td>{{contact.no}}</td>
            <td>{{contact.name}}</td>
            <td>{{contact.tel}}</td>
            <td>{{contact.address}}</td>
          </tr>
          <tr class="divider" v-if="index%3 === 2">
            <td colspan="4"></td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>

  <script>
    var model5 = {
      "pageno" : 1,
      "pagesize" : 10,
      "totalcount" : 100,
      "contacts" : [
        { "no": 100, "name": "나비", "tel": "010-3939-9521", "address": "서울" },
        { "no": 99, "name": "노을", "tel": "010-7857-7531", "address": "경기" },
        { "no": 98, "name": "조조", "tel": "010-4582-4519", "address": "강원" },
        { "no": 97, "name": "모모", "tel": "010-9534-4537", "address": "충남" },
        { "no": 96, "name": "후추", "tel": "010-5687-2588", "address": "제주" },
        { "no": 95, "name": "까미", "tel": "010-5558-4791", "address": "서울" },
        { "no": 94, "name": "순이", "tel": "010-4519-9125", "address": "제주" },
      ]
    }
    var list = new Vue({
      el : '#forExmaple',
      data : model5
    });
  </script>

  <hr>

  <h2>기타: v-pre, v-once, v-cloak</h2>
  <ul>
    <li>v-pre: pre태그 기능과유사</li>
    <li>v-once: 처음 한번만 렌더링</li>
    <li>v-cloak: 화면 깜빡임(FOUC) 해결에 유용. 콧수염 표현식이 보일 수도 있는 문제를 해결</li>
  </ul>

  <hr>

  <h2>computed</h2>
  <div id="computedExam">
    <input type="text" v-model="num"><br />
    1부터 입력된 수까지의 합 : <span>{{sum}}</span>
  </div>
  
  <script>
    // 1부터 입력된 수까지의 합구하기
    var vmSum = new Vue({
      el: '#computedExam',
      data : {
        num: 0
      },
      computed: {
        sum: function(){
          var n = Number(this.num);
          if (Number.isNaN(n) || n<1) return 0;
          return ((1+n) * n) / 2;
        }
      }
    });
  </script>
</body>

</html>